* {
	text-decoration: none;
}

#all {
	width: 1000px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.pp {
	width: 200px;
	height: 180px;
	margin:0px 0px 30px 30px;
}

.logos {
	float: left;
	width: 40px;
	height: 40px;
	margin-left: 20px;
}
#nav {
	width: 100%;
	height: 115px;
	background-color: black ;
	opacity: .9;
}
a:hover {
	background-color: grey;
	font-size: 30px;
	border-radius: 7px;

}
a:active {
	color: white;
	background-color: none;
}

/*About me*/
#my_pic {
	margin-left: 20px;
	float: left;
	width: 220px;
	height: 200px;
	margin: none;
}
p {
	font-family: cursive;
}
#p1 {
	float:left;
	position: relative;
	bottom: 24px;
	width: 200px;
	height: 200px;
	margin-left: 20px;
	font-size: 20px;
	color:white;	
}

#p2 {
	margin: 30px 25px 10px 20px;
	font-family: cursive;
	color: white;
	font-size: 20px;
}

/*About Me*/

li {
	
	position: relative;
	top: 30px;
	background-color: none;
	font-size: 24px;
	font-weight: bold;
	list-style: none;
	float: right;
	padding-right: 40px;
	right: 10%

}
#andy {
	float: left;
	position: relative;
	left: 10%;
	top: 30px;
	text-align: center;
	font-size: 35px;
	font-variant-position: 10PX;
	height: 85px;
	width: 130px;
	border-radius: 5px;
	background-color: grey;
	opacity: .9;
}
#portfolio {	
	position: absolute;
	top: 50px;
	width: 480px;	
	margin-left: 10%;
	background-color: none;
}

#connect {
	position: absolute;
	float: right;
	top: 58px;
	width: 200px;
	left: 60%;
	margin-left: 10%;
	background-color: none;
}
/*media queries for phones*/
@media only screen and (max-width: 600px) {
	#connect {
		position: relative;
		left: 0px;
		top: -300px;
		width:100%;
		height: auto;
	}
	#andy
	#p1, #p2, #my_pic {
		position: static;
		height: auto;
		width: 100%;
	}
	#portfolio, .container{
	clear: both;
	height: auto;
	width:100%;
	margin-left: 0px;
	 }
	#all {
		height: 600px;
	}
	#f, .foot {
		width: 100%;
		height: 1300px;
	}
	body {background-color: black;}
	.pp{margin-left: 70px;}

}
h2 {
	color:white;
	margin-left: 30px;
}
h3 {
	color: white;
	margin-left: 15px;
}
hr {
	color: white;
	margin-left: 10px;

}
footer {
	width: 100%;
	height:50px;
	background-color: black;

}

/*centering text*/
.foot {
	position: relative;
}
#f {  /* background pic*/
	width: 100%;
	height: 800px;
	opacity: .85;
}
.centered {

	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;


}
/*centering text*/

#bottom {
	width: 100%;
	height: 200px;
	background-color: black;
}
#copy {
	position: relative;
	color: white;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;

}
.container {
	width: 250px;
	height: auto;
	margin-left: 25px;
	
}

textarea, input {
	margin-bottom: 10px;
	width: 250px;
}
label { 
	color: white;
	font-size: 18px;
}
#submit {
	color:white;
	border-radius: 10px;
	background-color: black;
}
#submit:hover {
	color: black;
	background-color: white;
}
#submit:active {
	background: none;
	color:white;
	font-weight: bold;
	font-size: 22px;
	border:none;
}